.mobile-banner
{
  display: none;
}

body
{
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
}

.banner
{
  background-color: #2a2a72;
  background-image: linear-gradient(90deg, #2a2a72 0%, #009ffd 74%);
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100vw;
  color: #e5e5e5;
  height: 25vh;
  font-weight: 400;
}

.banner h1, p
{
  margin: 10px;
}

.blocks-container
{
  text-align: center;
  margin: 10px;
}

#blocks
{
  display: inline-block;
  background: #e5e5e5;
  padding: 1.875px 10px;
  text-align: center;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-top: 3.125px;
  margin-bottom: 3.125px;
  font-size: 12.5px;
  color: #252525;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

#blocks:hover
{
  color: #e5e5e5;
  text-decoration: none;
  background: #252525;
}

#blocks:visited
{
  text-decoration: none;
}

@media only screen and (max-width: 600px)
{
  .banner
  {
    display: none;
  }
  
  .mobile-banner
  {
    background-color: #2a2a72;
    background-image: linear-gradient(90deg, #2a2a72 0%, #009ffd 74%);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100vw;
    color: #e5e5e5;
    height: 25vh;
    font-weight: 400;
  }

  .mobile-banner .mobile-name
  {
    font-size: 30px;
    font-weight: 500;
  }

  .mobile-banner .mobile-subheading
  {
    background: rgba(0, 0, 0, 0.25);
    padding: 5px 15px;
    border-radius: 50px;
    -webkit-tap-highlight-color: transparent;
  }

  .space
  {
    background: transparent;
    height: 10px;
  }

  #blocks
  {
    font-size: 20px;
    display: block;
    padding: 12.5px;
    width: 75%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
  }
}